.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn {
  background: transparent;
  padding: 1px 7px;
  border-radius: 6px;
  border: 1px solid #636363;

  &:disabled {
    color: #a7a6a6;
    pointer-events: none;
    border: 1px solid #a7a6a6;
  }
}

.btn:not(:last-child) {
  margin-right: 5px;
}

.btn:hover {
  cursor: pointer;
}

.link {
  text-decoration: none;
}
