.container {
  border: 2px solid #fff;
  padding: 15px 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.title {
  text-align: center;
}

.item {
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}

.item:last-child {
  margin-bottom: 0px;
}
