.container {
  padding: 10px;
  margin-bottom: 35px;
  font-family: "Ubuntu", sans-serif;
  border-bottom: 5px solid #636363;
}

.title {
  font-size: 35px;
  color: #353434;
  font-weight: 700;
}

.subtitle {
  font-size: 25px;
  color: #353434;
  font-weight: 700;
}


.subinfo {
  color: #636363;
  max-width: 656px;
}